# Expo
EXPO_ROUTER_APP_ROOT=src/app

# Cloudinary unsigned upload config
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset

# Optional API base URL
EXPO_PUBLIC_API_BASE_URL=https://your-api.example.com/api
